@using Movie_Application.ViewModel;
@using Microsoft.AspNetCore.Identity
@model Movie_Application.ViewModel.MovieDetailsVM
@inject Movie_Application.Repository.Interface.ICommentRepository CommentRepository


@{
    ViewData["Title"] = "GetMovieById";
}
<style>
    .detail-image{
        width:200px;
    }

    .movie{
        display:flex;
        width:100%;
        margin-top:3rem;
        /*background-color:gray;*/
    }

    .movie-poster{
        border-radius:9px;
    }
    .movie-information{
        display:flex;
        flex-direction:column;
        margin-left:80px;   
        max-width:40%;       
        margin-bottom:2rem;
       

    }

    .movie-description{
        max-width:500px;
       word-wrap:  break-word;
    }

    .movie-description p{
        font-size:0.8rem;
    }

    #average-rating{
        displat:inline-block;
        max-width: 4ch; /* Set the maximum width to accommodate three characters */
        overflow: hidden;
    }
</style>


<div>  
    <div class="movie">
        <div class="movie-poster">
            <img class="detail-image" src="~/images/@Model.Movie.PhotoPath" alt="Image">
        </div>

        <div class="movie-information">
           <div class="movie-name"><h1>@Model.Movie.Name</h1></div>
        

        <div class="movie-description">
            <h6>Description</h6>
            @*<p>@Model.Description</p>*@
                <p>kdshfklahsdkjlfhlllhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhlhh</p>

        </div>

        <div class="movie-info">
            <div class="movie-genre">
                <h6 style="display:inline;">Genre :</h6>
                <span>@Model.Movie.Genre</span>             
            </div>
            <div class="movie-director">
                <h6 style="display:inline;">Director :</h6>
                <span>@Model.Movie.Director</span>
            </div>

        </div>
        <div class="averageRatingContainer">
            <h6 style="display:inline;">Averate Rating :</h6>
            <span id="average-rating">@Model.Movie.AverageRating.ToString("0.000").Substring(0, 4)</span>
              
        </div>
        
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Movie?.Id">Edit</a> |
    <a asp-action="GetMovies">Back to List</a>
</div>

@*R A T I N G*@
@if (User.Identity.IsAuthenticated){
<div class="rating">
    <partial name="../Rating/_AddRating" model = "@Model.RatingVM"/>
</div>
}

@*C O M M E N T*@
@if (User.Identity.IsAuthenticated)
{
    <div class="comment-section">
        @await Html.PartialAsync("../Comment/_AddComment", Model)
    </div>
}

@*C O M M E N T S*@
<div class="comments" id="commentContainer">
   @*@await Html.PartialAsync("../Comment/_GetMovieComments", await CommentRepository.GetMovieComments(Model.Movie.Id))*@

   <partial name="../Comment/_GetMovieComments" model="@Model.comments"/>
</div>


<script>
    $(document).ready(function () {
        $("#submitComment").on("click", function (event) {
            event.preventDefault();
            var movieId = $("#movieid").val();
            var content = $("#content").val();

            data = {
                MovieId: movieId,
                Content: content
            };
            $.ajax({
                url: "/Comment/AddComment",
                method: "POST",
                data: data,
                success: function (response) {
                    var $responseHtml = $(response);
                    var $updatedContent = $responseHtml.find('#commentContainer');
                    console.log(response);
                    $('#commentContainer').html($updatedContent);
                },
                error: function (err) {
                    alert("error");
                }
            });
        });
    });
</script>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

   






